*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #D8E2EB;
}
body {
    cursor: url(./../images/arr.png), auto;
}
a{
    cursor: url(./../images/pointer.png), auto;
}
body::-webkit-scrollbar{
    width: 10px;
    background-color: #98b0d8;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 12px;
}
body::-webkit-scrollbar-thumb {
    background-color: #40759b;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
body::-webkit-scrollbar-button{
    background-color: gray;
}
.header{
    width: 100%;
    height: 300px;
    position: relative;
    background: #d8e2eb url(../images/header.jpg) no-repeat top center;
}
.headerTitle{
    width:auto;
    height: auto;
    position: absolute;
    top:100px;
    left: 100px;
}
.Headline{
    color: white;
    font-size: 25px;
    line-height: 50px;
    font-weight: bold;
    text-shadow:8px 8px 3px gray;
}
.Subheading{
    color: white;
    font-size: 15px;
    line-height: 25px;
    text-shadow:3px 3px 1px gray;
}
.headerNav{
    width: auto;
    height: 60px;
    position: absolute;
    top:0;
    right: 0;
}
.headerNav ul{
    margin-right: 100px;
}
.headerNav ul a{
    width: 100%;
    height:100%;
    color: white;
}
.headerNav ul a li{
    float: left;
    width: auto;
    height:20px;
    line-height: 20px;
    margin: 10px 5px;
    padding: 10px 15px;
    list-style-type: none;
    border-radius: 10px;
    transition: 0.2s;
}
.headerNav ul li{
    float: left;
    width: auto;
    height:20px;
    line-height: 20px;
    margin: 10px 5px;
    padding: 10px 15px;
    list-style-type: none;
    color: white;
}
.headerNav ul a li:hover{
    background-color: #98b0d8;
}
.checked{
    background-color: #98b0d8;
}
.MainPart{
    width: 80%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.MainList{
    width: 70%;
    height: auto;
    float: left;
}
.MainBlogs{
    width: 100%;
    height:200px;
    background-color: white;
    margin-bottom: 30px;
    border:solid 1px #adc2d7;
    border-radius: 5px;
}
.BlogsTitle{
    width: 90%;
    height: 55px;
    margin: 0 auto;
    line-height:60px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: 1px solid #d8e2eb;
    cursor: url(./../images/pointer.png), auto;;
}
.BlogsTitle a{
    color: #40759b;
    text-decoration: none;
}
.BlogsTitle:hover{
    text-decoration: underline;
}
.BlogsTime{
    width: 90%;
    height:30px;
    line-height:30px;
    margin:0 auto;
    font-size: 12px;
    color: #333;
}
.BlogsTime a{
    text-decoration: none;
    color: #40759b;
}
.BlogsText{
    width: 90%;
    height: 60px;
    margin:0 auto;
    line-height: 30px;
    letter-spacing: 1px;
    text-indent: 2em;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    cursor: url(./../images/pointer.png), auto;
}
.BlogsText a{
    color: #333;
    text-decoration: none;
}
.BlogsText:hover{
    text-decoration: underline;
}
.BlogsRead{
    width: 90%;
    height:30px;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 5px;
}
.BlogsReadNum{
    font-size: 14px;
    color: #40759b;
}
.WriteBlogsTitle{
    width: 98%;
    padding-left: 2%;
    outline: none;
    height:50px;
    line-height: 50px;
    border-radius:5px;
    position: relative;
    background-color: white;
    border: solid 1px #adc2d7;
    margin-bottom: 30px;
}
.WriteBlogsAbstract{
    width: 96%;
    height: 96px;
    padding: 2%;
    max-width: 96%;
    min-width: 96%;
    min-height: 50px;
    max-height: 200px;
    margin-bottom: 30px;
    outline: none;
    border: solid 1px #adc2d7;
    font-size: 16px;
    line-height: 30px;
}
.WriteBlogsclassify{
    width: 250px;
    height: 30px;
    border: solid 2px #98b0d8;
    margin: 0 0 0 10px;
    outline: none;
}
.WriteBlogsSubmit,.WriteBlogsReturn{
    width: 110px;
    height:30px;
    line-height:30px;
    margin: 0 10px;
    border: solid 2px #98b0d8;
    letter-spacing: 5px;
    text-align: center;
    float: left;
    color: #98b0d8;
}
.BlogsReadAll a{
    width: auto;
    float: right;
    font-size: 15px;
    color: #40759b;
    text-decoration: none;
}
.BlogsReadAll a:hover{
    text-decoration: underline;
}
.MainNav{
    width: 25%;
    height: auto;
    float: right;
}
.MainSearch{
    width: 95%;
    height: 32px;
    padding-left: 4%;
    outline: none;
    border-radius: 15px;
    border: 1px solid #adc2d7;
}
.MainNavList{
    width: 99%;
    height:auto;
    background-color: white;
    margin-top: 30px;
    border: 1px solid #adc2d7;
    border-radius: 5px;
    padding-bottom: 15px;
}
.MainNavListTitle{
    width: 80%;
    height:50px;
    line-height:50px;
    border-bottom: 1px solid #d8e2eb;
    color: #40759b;
    margin: 0 auto;
}
.MainNavListBlogs{
    width: 80%;
    height:30px;
    line-height:30px;
    margin:0 auto;
    font-size:14px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:1;
}
.MainNavListBlogs a{
    color: #333;
    text-decoration: none;
}
.MainNavListBlogs:hover{
    cursor: url(./../images/pointer.png), auto;
    text-decoration: underline;
}
.footer{
    width: 100%;
    height: 90px;
    margin: 50px 0 20px 0;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
}
.footer a{
    text-decoration: none;
    color: #40759b;
}
.footer a:hover{
    text-decoration: underline;
}
.MainAlbum{
    width: 98%;
    padding: 1%;
    height: auto;
    border:solid 1px #98b0d8;
    background-color: white;
    -webkit-column-width:202px;
    -moz-column-width:202px;
    column-width:202px;
}
.MainAlbum div img{
    width: 100%;
}
.MainForm{
    width: 450px;
    height:auto;
    background: rgba(255,255,255,0.9);
    border-radius: 10px;
    position: fixed;
    top:50%;
    left:50%;
    margin-top: -150px;
    margin-left: -225px;
    padding: 20px 0 30px 0;
}
.MainFormIcon{
    width: 100px;
    height:8px;
    background-image: url("./../images/icon.png");
    border-radius: 25%;
    margin:0 auto;
    margin-bottom: 10px;
}
.MainFormTitle{
    width: 100%;
    height:50px;
    line-height: 50px;
    text-align: center;
    font-size: 35px;
    color: #D8E2EB;
    letter-spacing: 3px;
    font-family: '王羲之书法字体',cursive;
    font-weight: bold;
}
.MainFormEntry{
    width: 80%;
    height:40px;
    margin: 20px auto;
}
.MainFormIco{
    width: 10%;
    height:100%;
    background-color: #D8E2EB;
    line-height: 40px;
    text-align: center;
    float: left;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.MainFormIpt{
    width: 87%;
    height:40px;
    background-color: #D8E2EB;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    color: white;
    font-size: 18px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.MainFormBtn{
    width: 48%;
    height:100%;
    margin: 0;
    padding: 0;
    border:0;
    background-color: #D8E2EB;
    border-radius: 10px;
    outline: none;
    color: white;
    font-size: 18px;
    letter-spacing: 10px;
}
input::placeholder{
    color:white;
}
.MainFoot{
    width: 100%;
    height:50px;
    border-bottom: solid #adc2d7 2px;
    line-height: 50px;
    font-size: 25px;
    text-indent: 1em;
    color: #98b0d8;
    margin-bottom: 20px;
}
.MainFootAll{
    width: 100%;
    height:auto;
    margin-bottom: 30px;
}
.MainFootTop{
    width: 90%;
    height:auto;
    padding-left: 10%;
    position: relative;
    margin: 20px 0;
    min-height: 60px;
}
.MainFootTop img{
    width: 60px;
    height:60px;
    position: absolute;
    top: 0;
    left:0;
}
.MainFootuser{
    font-size: 18px;
    color: #696969;
    line-height: 35px;
}
.MainFootuser span{
    font-size: 14px;
    color: #98b0d8;
    color: gray;
}
.MainFootMessage{
    font-size: 14px;
    text-indent: 2em;
    color: #5479b5;
    line-height: 25px;
    margin-top: 5px;
}
.MainFootSecondary{
    width: 80%;
    height:auto;
    padding-left: 20%;
    position: relative;
    margin: 20px 0;
    min-height: 60px;
}
.MainFootSecondary img{
    width: 60px;
    height:60px;
    position: absolute;
    top: 0;
    left:80px;
}
.writeMessage{
    width: 100%;
    height:auto;
}
.WriteMessageSubmit{
    width: 100%;
    height:50px;
    background-color: #98b0d8;
    border-radius: 10px;
    border:0;
    outline: none;
    color: white;
    font-size: 20px;
    letter-spacing: 5px;
    cursor: url(./../images/pointer.png), auto;
}
.reply,.unreply{
    height: 20px;
    line-height: 20px;
    padding: 5px 15px;
    color: gray;
    display: inline-block;
    cursor: url(./../images/pointer.png), auto;
}
.reply:hover,.unreply:hover{
    color: black;
}
.hide,.unreply{
    display: none;
}
.MainAboutMe{
    width: 90%;
    height: auto;
    padding: 20px 5% 50px 5%;
    background: #fff;
    border-radius: 4px;
    box-shadow: 1px 2px 3px #adc2d7;
    border: 1px solid #adc2d7;
    margin-bottom: 40px;
}
.MainAboutAuthor{
    width: 500px;
    height:250px;
    margin: 0 auto;
}
.MainAuthorImg{
    width: 180px;
    height:180px;
    border-radius: 50%;
    margin: 35px;
    background-color: white;
    float: left;
}
.MainAuthorImg img{
    width: 100%;
    height:100%;
}
.MainCatenate{
    width: 250px;
    height:200px;
    float: right;
    padding:25px 0;
    line-height: 40px;
    color: #0e4b7d;
}
.MainCatenate a{
    color: #0e4b7d;
    text-decoration: none;
}
.MainCatenate a:hover{
    text-decoration: underline;
}
.MainIntroduce{
    width: 100%;
    height: auto;
}
.MainIntroduceTitle{
    font-size: 18px;
    color: #0e4b7d;
    margin: 15px 0;
}
.MainIntroduceText{
    font-size: 14px;
    color: #0e4b7d;
    text-indent: 2em;
    line-height: 23px;
}
.toTop{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}
.toTop img{
    width: 100%;
    height:100%;
}